Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [0]:

for num in range(2000,3201):
  if num%7 ==0 and num %5!=0:
    print(num,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [0]:
def full_name():
  first=str(input( ' your first name: '))
  second=str(input( ' enter last name: '))
  print(f'{second}  {first}')

In [2]:
full_name()

 your first name: chowa
 enter last name: cross
cross  chowa

*italicized text*
Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * π * r

In [0]:
def volum_sphere(r):
  return (4/3)*(3.14)*(0.5*r)

In [4]:
volum_sphere(12)

25.119999999999997

*italicized text*
Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * π * r**3

In [0]:
def adjusted_volume_sphere(R):
  return (4/3)*(3.14)*(0.5*R)**3

In [6]:
adjusted_volume_sphere(12)

904.3199999999999

Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [0]:
def comma_separated():
  values=input()
  return list(values.split(','))

In [8]:
comma_separated()

1,2,3,4,5

['1', '2', '3', '4', '5']

Create the below pattern using nested for loop in Python.

In [0]:
def stars(n):
  for i in range(n):
    for j in range(i):
      print("*",end="")
    print()
  for i in range(n,0,-1):
    for j in range(1,i+1):
      print("*",end="")
    print()

In [10]:
stars(5)

*
**
***
****
*****
****
***
**
*

Write a Python program to reverse a word after accepting the input from the user.

In [0]:
def reverse_me(n):
  word=n
  return word[::-1]

In [12]:
reverse_me('chowa')

'awohc'

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [13]:
m='WE, THE PEOPLE OF INDIA,'
len(m)

24

In [0]:
def inueron():
  first='WE, THE PEOPLE OF INDIA,'
  second='having solemnly resolved to constitute India into a SOVEREIGN, !'
  third='SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC'
  fourth='and to secure to all its citizens'
  print (first,"\n\t",second,"\n\t\t", third, "\n\t\t",fourth,"\n",)

In [15]:
inueron()

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN, !
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens